# Python Basics

## Whitespace Is Important

In [3]:
listOfNumbers = [1, 2, 3, 4, 5, 6]

for number in listOfNumbers:
    print number,
    if (number % 2 == 0):
        print "is Even"
    else:
        print "is Odd"
        
print "All done for today."

1 is Odd
2 is Even
3 is Odd
4 is Even
5 is Odd
6 is Even
All done for today.

## Importing Modules

In [7]:
import numpy as np

A = np.random.normal(20.0, 0.9, 10)
print A

[ 18.39670355  20.55379781  18.97918115  21.80748303  21.90631043
  19.3313531   20.39844737  19.96508389  19.7285193   20.62011208]

## Lists

In [9]:
x = [1, 2, 3, 4, 5, 6]
print len(x)

6

In [4]:
x[:3]

[1, 2, 3]

In [11]:
x[3:]

[4, 5, 6]

In [6]:
x[-2:]

[5, 6]

In [12]:
x.extend([7,8])
x

[1, 2, 3, 4, 5, 6, 7, 8]

In [8]:
x.append(9)
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
y = [10, 11, 12]
listOfLists = [x, y]
listOfLists

[[1, 2, 3, 4, 5, 6, 7, 8, 9], [10, 11, 12]]

In [10]:
y[1]

11

In [11]:
z = [3, 2, 1]
z.sort()
z

[1, 2, 3]

In [12]:
z.sort(reverse=True)
z

[3, 2, 1]

## Tuples

In [13]:
#Tuples are just immutable lists. Use () instead of []
x = (1, 2, 3)
len(x)

3

In [14]:
y = (4, 5, 6)
y[2]

6

In [15]:
listOfTuples = [x, y]
listOfTuples

[(1, 2, 3), (4, 5, 6)]

In [16]:
(age, income) = "32,120000".split(',')
print age
print income

32
120000

## Dictionaries

In [18]:
# Like a map or hash table in other languages
captains = {}
captains["Enterprise"] = "Haris"
captains["Enterprise D"] = "Beg"
captains["Deep Space Nine"] = "Sisko"
captains["Voyager"] = "Janeway"

print captains["Voyager"]

Janeway

In [19]:
print captains.get("Enterprise")
print captains["Enterprise"]

Haris
Haris

In [20]:
print captains.get("NX-01")

None

In [21]:
for ship in captains:
    print ship + ": " + captains[ship]

Voyager: Janeway
Deep Space Nine: Sisko
Enterprise D: Beg
Enterprise: Haris

## Functions

In [22]:
def SquareIt(x):
    return x * x

print SquareIt(2)

4

In [23]:
#You can pass functions around as parameters
def DoSomething(f, x):
    return f(x)

print DoSomething(SquareIt, 3)

9

In [23]:
#Lambda functions let you inline simple functions
print DoSomething(lambda x: x * x * x, 3)

27

## Boolean Expressions

In [24]:
print 1 == 3

False

In [25]:
print (True or False)

True

In [26]:
print 1 is 3

False

In [27]:
if 1 is 3:
    print "How did that happen?"
elif 1 > 3:
    print "Yikes"
else:
    print "All is well with the world"

All is well with the world

## Looping

In [28]:
for x in range(10):
    print x,

0 1 2 3 4 5 6 7 8 9

In [29]:
for x in range(10):
    if (x is 1):
        continue
    if (x > 5):
        break
    print x,

0 2 3 4 5

In [30]:
x = 0
while (x < 10):
    print x,
    x += 1

0 1 2 3 4 5 6 7 8 9

## Activity

Write some code that creates a list of integers, loops through each element of the list, and only prints out even numbers!

In [32]:
haris = [0,1,2,3,4,5,6,7,8,9]
for number in haris:
    if (number % 2 == 0):
        print number,

0 2 4 6 8